<!-- Flash Notice Tags -->
<% cache @product do %>
  <div class="row" data-product-id="<%= @product.id %>">
    <div class="col-sm-6 col-xs-12">
 <p class="lead">
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <%= image_tag(@product.image_url, data_zoom_image: @product.image_url, width: "50%", class: "img-zoom") %>
</p>
<p>
  <strong>quality:</strong>
  <%= @product.quality %>
</p>
<p>
  <strong>Price:</strong>
  $<%= @product.price %>
</p>
</div>
    <div class="col-sm-6 col-xs-12">
<p>Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div> </p>
 <div id="comments">
  <%= render 'new_comment' %>
  <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>
  <%= render 'comments' %>
  <%= will_paginate @comments%>
</div>
<%= form_with(url: '/payments/create') do |form| %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>
<div>
<% if current_user && current_user.admin?%>
  <li><%= link_to 'Edit', edit_product_path(@product), class: "btn btn-search" %> | </li>
<%end%>
<li><%= link_to 'Back', products_path, class: 'btn btn-login'  %></li>
</div>
<% end %>
</div>
</div>
