<!DOCTYPE html>
<html>
  <head>
    <title>Superapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  </head>

      <nav class="navbar navbar-dark bg-primary">
        <div class="row">
          <div class="col-md-4">
            <li class="hobo"><strong>Hobo Nickel Coins</strong></li>
          </div>
          <div class="col-md-8">
<!--ul removed-->

             <li><%= link_to "Home", root_path %></li>
             <li><%= link_to "About", simple_pages_about_path %></li>
             <li><%= link_to "Contact", simple_pages_contact_path %></li>
             <li><%= link_to "Products", products_path %></li>
             <li><%= form_with(url: products_path, method: 'get', local: true) do |form| %>
               <%= form.label :q, 'Search for:' %>
               <%= form.text_field :q, id: 'q', value: params[:q] %>
               <%= submit_tag("Search", class: 'btn btn-danger') %>
             <% end %></li>

          <ul class="nav pull-right">
            <li>
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path) %>
            <% end %>
            </li>
          </ul>
          </div>
       </div>
     </nav>
<p class="notice"><%= notice %></p>
    <%= yield %>

    <footer class="navbar-default navbar-fixed-bottom" style="background-color: whitesmoke;">
      <div class="container-fluid">
        <span class="text-muted" style="color: steelblue;">&copy; 2018 Giles Lewey</span>
      </div>
    </footer>
  </body>
</html>
