<!DOCTYPE html>
<html>
  <head>
    <title>Superapp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>



  <body>
    <div class="page-wrap">
      <nav class="navbar" style="background-color: #e3f2fd;">
        <ul>
         <li><%= link_to "Home", root_path %></li>
         <li><%= link_to "About", simple_pages_about_path %></li>
         <li><%= link_to "Contact", simple_pages_contact_path %></li>
         <li><%= link_to "Products", products_path %></li>
        </ul>
      </nav>
    </div>

    <%= yield %>

    <footer class="navbar-default navbar-fixed-bottom" style="background-color: #e3f2fd;">
      <div class="container-fluid">
        <span class="text-muted" style="color: blue;">&copy; 2018 Giles Lewey</span>
      </div>
    </footer>
  </body>
</html>
