<!DOCTYPE html>
<html>
  <head>
    <title>Superapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  </head>

      <nav class="navbar">
        <div class="row nav-display">
          <div class="col-md-4">
            <li class="hobo"><strong>Hobo Nickel Coins</strong></li>
          </div>
          <div class="col-md-8">
            <div class="form-group">
             <li><%= link_to "Home", root_path, class: 'link-to-text-color' %></li>
             <li><%= link_to "About", simple_pages_about_path, class: 'link-to-text-color' %></li>
             <li><%= link_to "Contact", simple_pages_contact_path, class: 'link-to-text-color' %></li>
             <li><%= link_to "Products", products_path, class: 'link-to-text-color'  %></li>
             <li>
               <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
               <%= form.text_field :q, id: 'q', value: params[:q] %>
               <%= submit_tag("Search", class: 'btn btn-search') %>
             <% end %></li>
             <div class="pull-right">
               <li>
               <% if user_signed_in? %>
                 <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-success' ) %>
               <% else %>
                 <%= link_to('Login', new_user_session_path, class: 'btn btn-login') %>
               <% end %>
               </li>
             </div>
          </div>
     </div>
     </nav>
     <!-- Flash Notice Tags -->
     <!--getting a double destroy-->
         <% if notice %>
           <div id="notice" class="alert alert-warning"><%= notice %></div>
         <% end %>
         <% if alert %>
           <div id="alert" class="alert alert-danger"><%= alert %></div>
         <% end %>
    <%= yield %>

    <footer class="navbar-default navbar-fixed-bottom" style="background-color: #FBEFB9;">
      <div class="container-fluid">
        <span class="text-muted" style="color: #6F2D2E;">&copy; 2018 Giles Lewey</span>
      </div>
    </footer>
  </body>
</html>
