<!DOCTYPE html>
<html>
  <head>
    <title>Superapp</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>
  </head>

      <nav class="navbar">
        <div class="row nav-display">
          <div class="col-sm-6 col-md-3">
          <a href="#" class="navbar-left hobo-nav">
              <%= image_tag("hobologo1.png", class: "hobo-size") %>
          </a>
        </div><!--end col-->
            <div class="col-sm-6 col-md-3">
            <li class="hobo"><strong>Hobo <span class="span-green">Nickel</span> <span class="span-blue">Coins</span></strong></li>
          </div><!--end-col-->
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <ul>
                 <li><%= link_to "Home", root_path, class: 'link-to-text-color' %></li>
                 <li><%= link_to "About", simple_pages_about_path, class: 'link-to-text-color' %></li>
                 <li><%= link_to "Contact", simple_pages_contact_path, class: 'link-to-text-color' %></li>
                 <li><%= link_to "Products", products_path, class: 'link-to-text-color'  %></li>
               </ul>
            </div><!--end-form-->
          </div><!--end col-->
          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <ul>
                 <li>
                 <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
                 <%= form.text_field :q, id: 'q', value: params[:q] %>
                 <%= submit_tag("Search", class: 'btn btn-search') %>
                 <% end %>
                 </li>
                 <li>
                 <% if user_signed_in? %>
                 <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-success' ) %>
                 <% else %>
                 <%= link_to('Login', new_user_session_path, class: 'btn btn-login') %>
                 <% end %>
                 </li>
               </ul>
             </div><!--end-form-->
           </div><!--end-col-->
         </div><!--end-row-->
       </nav>
     <!-- Flash Notice Tags -->
         <% if notice %>
           <div id="notice" class="alert alert-warning"><%= notice %></div>
         <% end %>
         <% if alert %>
           <div id="alert" class="alert alert-danger"><%= alert %></div>
         <% end %>
    <%= yield %>
    <br><br><br><br>
    <footer class="navbar-default navbar-fixed-bottom" style="background-color: #75DBCD;">
      <div class="container-fluid">
        <span class="text-muted" style="color: #6F2D2E;">&copy; 2018 Giles Lewey</span>
      </div>
    </footer>
  </body>
</html>
